<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : LadyTulip 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131127

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>

<div id="page" class="container">

    <div class="column1">
        <div class="title">
            <h2>G1</h2>

        </div>
        <img src="images/g1.png" width="282" height="150" alt="" />
        <p>G1 é um portal de notícias brasileiro mantido pelo Grupo Globo e sob orientação da Central Globo de Jornalismo.</p>
        <a href="#" class="button">Notícias</a>
    </div>

    <div class="column2">
        <div class="title">
            <h2>CNN Brasil</h2>

        </div>
        <img src="images/cnn.png" width="282" height="150" alt="" />
        <p>CNN Brasil é um canal de televisão por assinatura brasileiro que exibe programação jornalística durante todo o dia.</p>
        <a href="#" class="button">Notícias</a>
    </div>

    <div class="column3">
        <div class="title">
            <h2>CNN internacional</h2>

        </div>
        <img src="images/cnni.png" width="282" height="150" alt="" />
        <p>CNN é um canal de notícias através de televisão por assinatura estadunidense, em propriedade da WarnerMedia, uma subsidiária da AT&T. </p>
        <a href="#" class="button">Notícias</a>
    </div>

    <div class="column3">
        <div class="title">
            <h2>UOL</h2>

        </div>
        <img src="images/uol.png" width="242" height="150" alt="" />
        <p>Universo Online, mais conhecido pela sigla UOL, é uma empresa brasileira de conteúdo, produtos e serviços de Internet do Grupo UOL PagSeguro.</p>
        <a href="#" class="button">Notícias</a>
    </div>

    <div class="column3">
        <div class="title">
            <h2>Folha de S.Paulo</h2>

        </div>
        <img src="images/folha.jpg" width="282" height="150" alt="" />
        <p style="padding-bottom: 32px;">Folha de S.Paulo é um jornal brasileiro editado na cidade de São Paulo e jornal de maior circulação do Brasil.</p>
        <a href="#" class="button">Notícias</a>
    </div>

    <div class="column3">
        <div class="title">
            <h2>ESTADÃO</h2>

        </div>
        <img src="images/estadao.jpg" width="242" height="150" alt="" />
        <p>As principais e as últimas notícias do Brasil e do mundo com credibilidade na informação sobre política, economia, e muitos outros assuntos.</p>
        <a href="#" class="button">Notícias</a>
    </div>

    

    

</div>